<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <title>@!section('title')202space@endsection</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="border_atas">
    <div class="logo">
      <img src="/images/logoo.png" alt="202 Logo" class="logo_img">
    </div>
    <div class="menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/portofolio">Portofolio</a>
      <a href="#contact">Contact</a>
    </div>
  </div>

  <main style="margin-top:120px;">
    @!section('content')@endsection
  </main>
</body>
</html>
